[Lexicon]
lexName = MorpHIN/Lexicon/newer_LEXICON
auxVerbFilename = MorpHIN/Rules/VERB_AUXILIARY_LIST
spellingVariationRuleFilename = MorpHIN/Rules/Spell_variations_Rules

[Stemmer]
suffixReplacementRuleFilename = MorpHIN/Rules/newFormatSuffixReplacementRules
specialCharactersRuleFilename = MorpHIN/Rules/Regex_cat_map
irregularVerbFilename = MorpHIN/Rules/IRREGULAR_VERB_MAPPING
uniqueSuffixReplacementRuleFilename = MorpHIN/Rules/newFormatUniqueSuffixReplacementRules
derivationalMorphologyRuleFilename = MorpHIN/Rules/DERIVATIONAL_MORPHOLOGY_RULES
stemDictionary = MorpHIN/stemDictionary.serialized
charametarSuff = MorpHIN/Rules/Suff2
allSuff = MorpHIN/Rules/Suff1
NounSuff = MorpHIN/Rules/Suff2

[Tagset]
tagMappingFilename = MorpHIN/Rules/Tagmapping

[MA]
stemAnalysisFile = MorpHIN/Rules/STEM_ANALYSIS
suffixAnalysisFile = MorpHIN/Rules/SUFFIX_ANALYSIS
stemFlagFile =MorpHIN/Rules/VERB_STEM_FLAG_MAP
suffixFlagFile =MorpHIN/Rules/VERB_SUFFIX_FLAG_MAP
MAOutput = MorpHIN/temp1


[Disambiguator]
ordering = ORDERED
orderedRulesFile = MorpHIN/Learned/Rules/rules.ord
unorderedRulesFile = MorpHIN/Learned/Rules/rules.unord
seqFH = MorpHIN/Rules/sequence_of_tags_in_training_instances

[AS]
wordAndASID = MorpHIN/Learned/Resources/wordAndASID.serialized
ASID-ASName-Mapping = MorpHIN/Learned/Resources/ASID-ASName-Mapping.txt
word-ASID-ASName-Mapping = MorpHIN/Learned/Resources/word-ASID-ASName-Mapping.txt
ASID-ASName-Words = MorpHIN/Learned/Resources/ASID-ASName-Words.txt
ASID-ASName-NumOfWords = MorpHIN/Learned/Resources/ASID-ASName-NumOfWords.txt
wordAndAS = MorpHIN/Learned/Resources/wordAndAS.serialized
ASAndWord = MorpHIN/Learned/Resources/ASAndWord.serialized
ASAndWordGR1 = MorpHIN/Learned/Resources/ASAndWordGR1.serialized
ASAndNumOfTimes = MorpHIN/Learned/Resources/ASAndNumOfTimes.serialized
ASGR1AndNumOfTimes = MorpHIN/Learned/Resources/ASGR1AndNumOfTimes.serialized
asToAsid = MorpHIN/Learned/Resources/asToAsid.serialized

[Trainer]
trainingInstancesDir = /mnt/dgf1/home/sachinp/CN2
sequenceOfTagsFilename = MorpHIN/Rules/sequence_of_tags_in_training_instances
suffixesFilename = MorpHIN/Rules/Suff2
learnedRulesDir = /mnt/dgf1/home/sachinp/Learned/Rules
trainingDataDir = /mnt/dgf1/home/sachinp/TrainingData/newTrainH1
cn2executable = ../resources/CN2/cn

[NGI]
RuleFile = MorpHIN/Rules/ngiRuleFile

[HMM]
tagfile = /mnt/dgf1/home/sachinp/tagfile
tagCat = ../resources/MarathiLinguisticResources/Rules/Tagmapping
trainingData = /mnt/dgf1/home/sachinp/TrainingData/newTrainH1
countFile = /mnt/dgf1/home/sachinp/lexCounts
lexCountsObject = /mnt/dgf1/home/sachinp/lexCountsObject
suffTagsObject = /mnt/dgf1/home/sachinp/suffTagsObject
selfSuffObject = /mnt/dgf1/home/sachinp/selfSuffObject
qObject = /mnt/dgf1/home/sachinp/qObject
qN_1Object = /mnt/dgf1/home/sachinp/qN_1Object
tagCounts = /mnt/dgf1/home/sachinp/tagCounts
testfile = /mnt/dgf1/home/sachinp/temptrain
distinctTags = /mnt/dgf1/home/sachinp/distinctTags
tagcats = /mnt/dgf1/home/sachinp/tagcats
categories = /mnt/dgf1/home/sachinp/categories
suffixesObject = /mnt/dgf1/home/sachinp/suffObject
suffixes = /mnt/dgf1/home/sachinp/suffListUniq